.mainContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.employeeInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 30px;
  width: 100%;
}

.extrainfo {
  display: flex;
}

.extrainfo p {
  margin-top: 20px;
  margin-inline: 30px;
}

.pontoContainer {
  display: flex;
  margin-top: 50px;
}

.pontoContainer div {
  flex: 1;
}

.arrowL, .arrowR {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: 1px solid #000;
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

.arrowL:hover, .arrowR:hover {
  transform: scale(1.1);
}

.dayNameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40px;
  margin-inline: 20px;
}

.dayName, .dayNumber {
  font-size: 20px;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.hide {
  transform: translateX(20px);
  opacity: 0;
}

.daySelectedContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.dayNameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60px;
  margin-inline: 20px;
  position: relative;
}

.dayName, .dayNumber {
  font-size: 24px; /* Aumente o tamanho da fonte para melhor visibilidade */
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.dayName.hide, .dayNumber.hide {
  transform: translateX(20px);
  opacity: 0;
}

.dayNameContainer p:last-child {
  font-size: 20px;
  font-weight: bold; /* Aumentar a ênfase do número do dia */
}

.infoCalendar {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.employeeInfo img {
  height: 100px;
  width: 100px;
}

.timeEntries {
  font-size: 12px;
  display: flex; 
}

.timeEntries span {
  border: 1px solid #000; 
  background-color: yellow; 
  border-radius: 50%; 
  width: 40px; 
  height: 40px; 
  display: inline-flex;
  align-items: center; 
  justify-content: center; 
  margin-inline: 5px;
  margin-bottom: 20px;
}

.timeEntriesInfo {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 20px;
}

.timeEntriesInfo p {
  justify-self: flex-end;
}

.solicitationsContainer {
  padding: 5px;
  border: 1px solid #000;
  width: 80%;
  margin-bottom: 50px;
  border-radius: 50px;
  text-align: center;
}
